body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}

body.waiting * {
  cursor: wait;
}

.no-padding {
  padding: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-right {
  padding-right: 0;
}

.vresize {
  resize: vertical;
}

.rm-focus-outline:focus {
  outline: none;
}

.rm-outline {
  outline: none;
}

.standard-glyph {
  margin: 0px 1px 0px 1px;
  padding: 0px 2px 0px 2px;
}

.md-glyph {
  font-size: 17px;
}

.lg-glyph {
  font-size: 20px;
}

.margin-bottom {
  margin-bottom: 4px;
}

.margin-right {
  margin-right: 4px;
}

.standard-glyph:hover {
  color: grey;
  cursor: pointer;
}

.darker-onhover:hover {
  background-color: whitesmoke;
}

.yellow-bg {
  background-color: yellow;
}

.nav-img {
  height: 46px;
  pointer-events: none;
}

.huge-margin-top {
  margin-top: 50px;
}
